<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Job Seeker | Step 1
            </mat-panel-title>
            <mat-panel-description>
                Enter your personal details
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-personal-detail></app-personal-detail>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Job Seeker | Step 2
            </mat-panel-title>
            <mat-panel-description>
                Enter your education details
                <mat-icon>school</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-education-detail></app-education-detail>
        <!-- <div>
            <ng-template #container></ng-template>
        </div>

        <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic" (click)="createComponent()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Job Seeker | Step 3
            </mat-panel-title>
            <mat-panel-description>
                Enter your experience
                <mat-icon>business</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Select Job Sector</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">IT</mat-option>
                        <mat-option value="2">Masters</mat-option>
                        <mat-option value="3">Bachelors</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Select Your Field</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">Software Engineering</mat-option>
                        <mat-option value="2">Masters</mat-option>
                        <mat-option value="3">Bachelors</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Applying Position</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <app-experience-detail></app-experience-detail>

        <!-- <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Job Seeker | Step 4
            </mat-panel-title>
            <mat-panel-description>
                Enter your professional qualifications
                <mat-icon>book</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-professional-qualification></app-professional-qualification>

        <!-- <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Job Seeker | Step 5
            </mat-panel-title>
            <mat-panel-description>
                Enter your skills
                <mat-icon>star</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-skills></app-skills>

        <!-- <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>