<mat-card class="example-card">
    <mat-card-title>Professional Qualifications</mat-card-title>
    <mat-card-subtitle>Enter your professional qualifications to be display on resume.</mat-card-subtitle>
    <mat-card-content>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Qualification</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Institution/School</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

    </mat-card-content>
</mat-card>