<mat-card class="example-card">
    <mat-card-title>Skills</mat-card-title>
    <mat-card-subtitle>Select your skills to be display on resume.</mat-card-subtitle>
    <mat-card-content>
        <p>
            <mat-form-field>
                <mat-select [formControl]="skillMultiCtrl" placeholder="Skills" [multiple]="true" #multiSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="skillMultiFilterCtrl"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill">
                        {{skill.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <ul *ngFor="let skill of skillMultiCtrl?.value">
            <li>{{skill.name}}</li>
        </ul>
    </mat-card-content>
</mat-card>